<html>
  <head>
    <title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
      integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <style>
      .mt-0 { margin-top: 0em; }
      .mt-2 { margin-top: 1.5em; }
    </style>
  <body class="container">
    <div class='alert alert-info mt-2'>
      <h2 class='h4 mt-0'><b>Kubernetes information</b></h2>
      <p><b>POD NAME:</b> <%= pod_name %></p>
      <p><b>POD IP:</b> <%= pod_ip %></p>
    </div>
    <ul class="nav nav-pills">
      <li role="presentation" class=<%= request.path == '/' ? "active" : '' %>><a href="/">Home</a></li>
      <li role="presentation" class=<%= request.path == '/cv' ? "active" : '' %>><a href="/cv">My CV</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
